
<div class="gallery">
<div class="gallery-image">
<img class="pizza" src="/images/{{bioPic}}" alt="pizza types"> 
<div class="gallery-text">
<h3 class="pizzaName">{{name}}</h3>
</div>
</div>
</div>

<div id="details">
    <h4 id="style"> Style: {{role}}</h4>
    <p id="price">Price: {{cost}}</p>
    <p id="bio">{{bio}}</p>
</div>
